* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}


#home {
    padding-bottom: 100px;
    background-image: url("./images/main.gif");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}



.image-with-content
{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    text-align: center;

}

.main-content
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: aliceblue; 
    font-size: 40px;
}

.main-image
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-image img
{
    border-radius: 50%;
    border: 5px solid whitesmoke;
    height: 300px;
    object-fit: cover;
}

@media screen and (max-width:768px) {
    .image-with-content
    {
        flex-direction: column;
        min-height: auto;
    }
    .main-content,.main-image
    {
        flex: 1;
        margin-bottom: 20px;
    }
    .main-image img {
        max-height: 200px;
    }
}



/* .image-with-content
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 78vh;
}

.main-content
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: aliceblue; 
    font-size: 40px;
}

.main-image
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-image img
{
    border-radius: 50%;
    border: 5px solid whitesmoke;
    height: 300px;
    object-fit: cover;
}

@media screen and (max-width:768px) {
    .image-with-content
    {
        flex-direction: column;
        min-height: auto;
    }
    .main-content,.main-image
    {
        flex: 1;
        margin-bottom: 20px;
    }
    .main-image img {
        max-height: 200px;
    }
} */

/* Your existing CSS styles */


#about-image
{
    height: 426px;
    width: 600px;
    margin-left: -134px;
}


/* skills */
.skill-card {
    margin-bottom: 1rem;
    border: 1px solid #F0ECE3;
    box-shadow: 0 1px 4px rgba(0,0,0,0.15);
    transition: 0.5s all ease-in-out;
    cursor: pointer;
    background:linear-gradient( #add8e6,whitesmoke);
    
}

.skill-card:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,0.16);
    transform: scale(0.9);
}


.skill-card .card-img {
    padding: 10px;
    border-bottom: 1px solid #F0ECE3;
    border-radius: 0;
    display: flex;
    align-items: center;
}

.skill-card .card-img img {
    margin: auto;
    width: auto;
    height: 180px;
}

.skill-card .card-body h4 {
    color: #000;
    font-size: 1rem;
    text-align: center;
}

/* contact */
input, textarea {
    width: 100%; 
    height: 40px;
    box-shadow: inset;
    border-radius: 8px;
    background-color: aliceblue;
}

/* Education */

.education-heading
{
    margin: 20px 0px;
}

.education
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.box
{
    width: 100%;
    border: 2px solid gray;
    border-radius: 20px;
    background: linear-gradient(lightgray,whitesmoke);
    margin: 4px;
    padding: 10px 0px 0px 10px;
}

#icons {
    color: #F0ECE3;
}

@media screen  and (max-width:768px){
    #icons
    {
        margin-top: 20px;
    }
}

